.elementor-1928 .elementor-element.elementor-element-089fcdd {
    padding: 0px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-30bc4f8
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-8b1b800 {
    padding: 70px 0px 70px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-section-title {
    text-align: center;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-section-title
    > .sisf-m-text {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 25px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-section-title
    .sisf-m-title {
    text-transform: none;
    margin: 0px 0px 20px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-906fa6d .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928 .elementor-element.elementor-element-906fa6d .sisf-sis-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    color: #13161a;
    border-color: #c2a56b;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button:hover {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-layout--filled:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-layout--outlined:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-layout--filled.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-layout--outlined.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-text {
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-icon {
    padding: 16px 0 16px;
}
.elementor-1928 .elementor-element.elementor-element-906fa6d .sisf-m-icon {
    margin: 0px 0px 0px 15px;
}
.elementor-1928
    .elementor-element.elementor-element-906fa6d
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-a2bde81
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-1928
    .elementor-element.elementor-element-a2bde81:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-1928
    .elementor-element.elementor-element-a2bde81
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
    background-image: url("../../2024/01/top_tie_bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
.elementor-1928
    .elementor-element.elementor-element-a2bde81
    > .elementor-background-overlay {
    background-image: url("../../2024/01/top_tie_bg2.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 35% auto;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1928 .elementor-element.elementor-element-a2bde81 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-0ba355a
    > .elementor-element-populated {
    padding: 0px 10px 0px 30px;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-section-title {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-section-title
    > .sisf-m-text {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 25px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-section-title
    .sisf-m-title {
    text-transform: none;
    margin: 0px 0px 20px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-d1bc45b .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928 .elementor-element.elementor-element-d1bc45b .sisf-sis-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    color: #13161a;
    border-color: #c2a56b;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button:hover {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-layout--filled:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-layout--outlined:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-layout--filled.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-layout--outlined.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-text {
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-d1bc45b
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-icon {
    padding: 16px 0 16px;
}
.elementor-1928 .elementor-element.elementor-element-d1bc45b .sisf-m-icon {
    margin: 0px 0px 0px 15px;
}
.elementor-1928
    .elementor-element.elementor-element-d9a657f:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-1928
    .elementor-element.elementor-element-d9a657f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2024/01/about_us_bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-1928 .elementor-element.elementor-element-d9a657f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 65px;
    padding: 90px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-d9a657f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1928
    .elementor-element.elementor-element-2beb4df
    > .elementor-element-populated {
    padding: 10px 20px 10px 10px;
}
.elementor-1928
    .elementor-element.elementor-element-fbe4381
    > .elementor-widget-container {
    margin: 0px 0px -65px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-e03ce46
    > .elementor-element-populated {
    padding: 10px 10px 10px 20px;
}
.elementor-1928
    .elementor-element.elementor-element-2374467
    .sisf-sis-section-title {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-2374467
    .sisf-sis-section-title
    > .sisf-m-text {
    color: #979797;
}
.elementor-1928
    .elementor-element.elementor-element-2374467
    .sisf-sis-section-title
    .sisf-m-title {
    color: #ffffff;
    text-transform: none;
    margin: 0px 0px 25px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-2374467
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-2374467 .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928
    .elementor-element.elementor-element-2374467
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 0px 10px 0px 10px;
}
.elementor-1928 .elementor-element.elementor-element-fe6b4a7 {
    padding: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-ef3656b .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-ef3656b .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-ef3656b
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928 .elementor-element.elementor-element-ca5212b .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-ca5212b .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-ca5212b
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928 .elementor-element.elementor-element-9fc1ba8 .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-9fc1ba8 .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-9fc1ba8
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928 .elementor-element.elementor-element-6b61179 .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-6b61179 .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-6b61179
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928 .elementor-element.elementor-element-cec6df3 .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-cec6df3 .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-cec6df3
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928 .elementor-element.elementor-element-e67d7ac .sisf-m-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    margin-top: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    .sisf-m-content
    > .sisf-m-text {
    color: #ffffff;
    margin-top: 10px;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    .sisf-sis-icon-with-text.sisf-layout--top {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    .sisf-m-icon-wrapper {
    margin: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-e67d7ac .sisf-m-button {
    margin-top: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    .sisf-m-icon-holder {
    font-size: 33px;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    .sisf-m-icon-holder
    svg {
    stroke-width: 0;
}
.elementor-1928
    .elementor-element.elementor-element-e67d7ac
    > .elementor-widget-container {
    padding: 15px 20px 15px 20px;
    background-color: #1a232566;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #383838;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
}
.elementor-1928
    .elementor-element.elementor-element-a97b635:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-1928
    .elementor-element.elementor-element-a97b635
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-1928 .elementor-element.elementor-element-a97b635 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 70px 0px 40px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-a97b635
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1928
    .elementor-element.elementor-element-469fa21
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-1928 .elementor-element.elementor-element-7b34152 {
    padding: 0px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-fc2f9db
    .sisf-sis-section-title {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-fc2f9db
    .sisf-sis-section-title
    .sisf-m-title {
    text-transform: none;
}
.elementor-1928
    .elementor-element.elementor-element-fc2f9db
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-fc2f9db .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928 .elementor-element.elementor-element-7ccaec9 {
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.elementor-1928 .elementor-element.elementor-element-34960ec .sisf-sis-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    color: #13161a;
    border-color: #c2a56b;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button:hover {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-layout--filled:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-layout--outlined:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-layout--filled.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-layout--outlined.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-text {
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-34960ec
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-icon {
    padding: 16px 0 16px;
}
.elementor-1928 .elementor-element.elementor-element-34960ec .sisf-m-icon {
    margin: 0px 10px 0px -40px;
}
.elementor-1928 .elementor-element.elementor-element-2837fec {
    padding: 30px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-53c93ac
    .sisf-sis-info-cards {
    min-height: 590px;
    justify-content: flex-end;
    text-align: left;
    background-image: url("../../../../img/19.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-1928 .elementor-element.elementor-element-53c93ac .sisf-m-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.72px;
}
.elementor-1928 .elementor-element.elementor-element-53c93ac .sisf-m-subtitle {
    font-weight: 500;
}
.elementor-1928
    .elementor-element.elementor-element-53c93ac
    .sisf-m-content
    .sisf-m-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
}
.elementor-1928
    .elementor-element.elementor-element-53c93ac
    .sisf-sis-info-cards
    .sisf-m-icon-wrapper {
    text-align: center;
}
.elementor-1928
    .elementor-element.elementor-element-53c93ac
    .sisf-sis-info-cards
    .sisf-m-title {
    margin-bottom: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-f70437a
    .sisf-sis-info-cards {
    min-height: 590px;
    justify-content: flex-end;
    text-align: left;
    background-image: url("../../../../img/15.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-1928 .elementor-element.elementor-element-f70437a .sisf-m-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.72px;
}
.elementor-1928 .elementor-element.elementor-element-f70437a .sisf-m-subtitle {
    font-weight: 500;
}
.elementor-1928
    .elementor-element.elementor-element-f70437a
    .sisf-m-content
    .sisf-m-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
}
.elementor-1928
    .elementor-element.elementor-element-f70437a
    .sisf-sis-info-cards
    .sisf-m-icon-wrapper {
    text-align: center;
}
.elementor-1928
    .elementor-element.elementor-element-f70437a
    .sisf-sis-info-cards
    .sisf-m-title {
    margin-bottom: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-97a0460
    .sisf-sis-info-cards {
    min-height: 590px;
    justify-content: flex-end;
    text-align: left;
    background-image: url("../../../../img/16.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-1928 .elementor-element.elementor-element-97a0460 .sisf-m-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.72px;
}
.elementor-1928 .elementor-element.elementor-element-97a0460 .sisf-m-subtitle {
    font-weight: 500;
}
.elementor-1928
    .elementor-element.elementor-element-97a0460
    .sisf-m-content
    .sisf-m-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
}
.elementor-1928
    .elementor-element.elementor-element-97a0460
    .sisf-sis-info-cards
    .sisf-m-icon-wrapper {
    text-align: center;
}
.elementor-1928
    .elementor-element.elementor-element-97a0460
    .sisf-sis-info-cards
    .sisf-m-title {
    margin-bottom: 20px;
}
.elementor-1928 .elementor-element.elementor-element-f504cc1 {
    padding: 40px 0px 40px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-884157c
    > .elementor-element-populated {
    padding: 10px 40px 10px 10px;
}
.elementor-1928
    .elementor-element.elementor-element-79402f4
    .sisf-sis-section-title {
    text-align: left;
}
.elementor-1928
    .elementor-element.elementor-element-79402f4
    .sisf-sis-section-title
    .sisf-m-title {
    text-transform: none;
    margin: 0px 0px 25px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-79402f4
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-79402f4 .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928 .elementor-element.elementor-element-34f89b1 {
    padding: 0px 0px 50px 0px;
}
.elementor-1928 .elementor-element.elementor-element-e9f947d img {
    max-width: 145px;
    filter: brightness(0%) contrast(30%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-e9f947d:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-b3ffa78 img {
    max-width: 145px;
    filter: brightness(0%) contrast(30%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-b3ffa78:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-662f44f img {
    max-width: 145px;
    filter: brightness(0%) contrast(30%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-662f44f:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-fbaf5cd img {
    max-width: 145px;
    filter: brightness(0%) contrast(30%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-fbaf5cd:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-6be48a2 img {
    max-width: 145px;
    filter: brightness(0%) contrast(30%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-6be48a2:hover img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-81923f0 img {
    max-width: 145px;
    opacity: 0.7;
    border-style: none;
}
.elementor-1928 .elementor-element.elementor-element-81923f0:hover img {
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
        hue-rotate(0deg);
}
.elementor-1928 .elementor-element.elementor-element-fba06cf {
    padding: 50px 50px 30px 50px;
}
.elementor-1928
    .elementor-element.elementor-element-8b49f2b
    .sisf-sis-grid
    > .sisf-grid-inner {
    gap: 15px;
}
.elementor-1928
    .elementor-element.elementor-element-8b49f2b
    .sisf-sis-grid.sisf-borders--between
    > .sisf-grid-inner
    > .sisf-grid-item:before {
    bottom: calc(-15px / 2);
}
.elementor-1928
    .elementor-element.elementor-element-8b49f2b
    .sisf-sis-grid.sisf-borders--between
    > .sisf-grid-inner
    > .sisf-grid-item:after {
    right: calc(-15px / 2);
}
.elementor-1928
    .elementor-element.elementor-element-8b49f2b
    .sisf-sis-grid.sisf-borders--all
    > .sisf-grid-inner
    > .sisf-grid-item {
    padding: 15px;
}
.elementor-1928
    .elementor-element.elementor-element-8b49f2b
    .sisf-e:hover
    .sisf-e-inner:after {
    background-color: #02010100;
}
.elementor-1928 .elementor-element.elementor-element-e09b43f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-e09b43f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1928
    .elementor-element.elementor-element-9665f6b
    > .elementor-widget-container {
    margin: 75px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-6cb5b09
    > .elementor-widget-container {
    margin: 75px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-cf759fa
    > .elementor-widget-container {
    margin: 75px 0px 0px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-20b3e18:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-1928
    .elementor-element.elementor-element-20b3e18
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2024/01/secure_img_bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-1928
    .elementor-element.elementor-element-20b3e18
    > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(90deg, #ffffff00 22%, #000000de 47%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1928 .elementor-element.elementor-element-20b3e18 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 180px 0px 180px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-swiper-together-inner
    > .swiper-button-prev {
    margin-right: 25px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical
    .sisf-swiper-together-nav
    .sisf-swiper-together-inner
    > .swiper-button-prev {
    margin: 0 0 25px 0 !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical
    ~ .sisf-swiper-together-nav
    .sisf-swiper-together-inner
    > .swiper-button-prev {
    margin: 0 0 25px 0 !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical
    .sisf-swiper-together-nav
    .sisf-swiper-together-inner
    > .swiper-button-prev {
    margin: 0 0 25px 0 !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical
    ~ .sisf-swiper-together-nav
    .sisf-swiper-together-inner
    > .swiper-button-prev {
    margin: 0 0 25px 0 !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-swiper-together-nav {
    margin-top: 30px;
    left: 20px;
    right: 20px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical
    .sisf-swiper-together-nav
    .sisf-swiper-together-inner {
    margin-top: 30px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical
    ~ .sisf-swiper-together-nav
    .sisf-swiper-together-inner {
    margin-top: 30px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical
    .sisf-swiper-together-nav
    .sisf-swiper-together-inner {
    margin-top: 30px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical
    ~ .sisf-swiper-together-nav
    .sisf-swiper-together-inner {
    margin-top: 30px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397.sisf-navigation-together--top
    .sisf-swiper-together-nav {
    margin-bottom: 30px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical.sisf-navigation-alignment--flex-start
    ~ .sisf-swiper-together-nav {
    left: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical.sisf-navigation-alignment--flex-end
    ~ .sisf-swiper-together-nav {
    right: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical.sisf-navigation-alignment--flex-start
    .sisf-swiper-together-nav {
    left: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-container-vertical.sisf-navigation-alignment--flex-end
    .sisf-swiper-together-nav {
    right: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical.sisf-navigation-alignment--flex-start
    ~ .sisf-swiper-together-nav {
    left: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical.sisf-navigation-alignment--flex-end
    ~ .sisf-swiper-together-nav {
    right: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical.sisf-navigation-alignment--flex-start
    .sisf-swiper-together-nav {
    left: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-vertical.sisf-navigation-alignment--flex-end
    .sisf-swiper-together-nav {
    right: 20px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-swiper-together-inner {
    border-radius: 50px 50px 50px 50px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-button-next {
    color: #ffffff;
    background-color: #000000;
    font-size: 9px;
    width: 35px !important;
    height: 35px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .swiper-button-prev {
    color: #ffffff;
    background-color: #000000;
    font-size: 9px;
    width: 35px !important;
    height: 35px !important;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-shortcode
    .sisf-e-title {
    color: #ffffff;
    font-size: 46px;
    font-weight: 400;
    text-transform: none;
    line-height: 55px;
    letter-spacing: 1.38px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-shortcode
    .sisf-e-title
    a {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-blog-item
    .sisf-e-info.sisf-info--top {
    margin-bottom: 25px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-item-layout--side-image
    .sisf-e-media {
    width: 50px;
}
.elementor-1928 .elementor-element.elementor-element-237f397 .sisf-sis-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    color: #13161a;
    border-color: #c2a56b;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button:hover {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-layout--filled:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-layout--outlined:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-layout--filled.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-layout--outlined.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-text {
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-icon {
    padding: 16px 0 16px;
}
.elementor-1928 .elementor-element.elementor-element-237f397 .sisf-m-icon {
    margin: 0px 0px 0px 15px;
}
.elementor-1928
    .elementor-element.elementor-element-237f397
    .sisf-item-layout--side-image
    .sisf-e-content {
    padding: 40px 0px 0px 20px;
}
.elementor-1928 .elementor-element.elementor-element-69bc075 {
    padding: 70px 0px 70px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-section-title {
    text-align: center;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-section-title
    > .sisf-m-text {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 25px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-section-title
    .sisf-m-title {
    text-transform: none;
    margin: 0px 0px 20px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-section-title
    .sisf-m-subtitle {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.2px;
    padding: 0px 0px 20px 0px;
}
.elementor-1928 .elementor-element.elementor-element-c0db495 .sisf-m-subtitle {
    align-items: baseline;
}
.elementor-1928 .elementor-element.elementor-element-c0db495 .sisf-sis-button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    color: #13161a;
    border-color: #c2a56b;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button:hover {
    color: #ffffff;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-layout--filled:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-layout--outlined:not(.sisf-hover--reveal):hover {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-layout--filled.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-layout--outlined.sisf-hover--reveal:after {
    background-color: #c2a56b;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-text {
    padding: 16px 28px 16px 28px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    .sisf-sis-button.sisf-type--icon-boxed
    .sisf-m-icon {
    padding: 16px 0 16px;
}
.elementor-1928 .elementor-element.elementor-element-c0db495 .sisf-m-icon {
    margin: 0px 0px 0px 15px;
}
.elementor-1928
    .elementor-element.elementor-element-c0db495
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}
.elementor-1928
    .elementor-element.elementor-element-f0abb46
    .sisf-shortcode
    .sisf-e-title {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
    line-height: 36px;
    letter-spacing: 0px;
}
.elementor-1928
    .elementor-element.elementor-element-f0abb46
    .sisf-shortcode
    .sisf-e-title
    a {
    color: #000000;
}
.elementor-1928
    .elementor-element.elementor-element-f0abb46
    .sisf-blog-item
    .sisf-e-excerpt {
    color: #000000;
    line-height: 30px;
    letter-spacing: 0.48px;
}
.elementor-1928
    .elementor-element.elementor-element-f0abb46
    .sisf-e-info.sisf-info--top
    .sisf-e-info-item {
    color: #c2a56b;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.elementor-1928
    .elementor-element.elementor-element-f0abb46
    .sisf-e-info.sisf-info--top {
    margin-bottom: 10px;
}
@media (max-width: 1024px) {
    .elementor-1928 .elementor-element.elementor-element-8b1b800 {
        padding: 40px 0px 40px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-906fa6d
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-906fa6d
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 15px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928 .elementor-element.elementor-element-a2bde81 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-dddc96e
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-0ba355a
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 15px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-button {
        font-size: 15px;
        padding: 12px 20px 12px 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-button.sisf-type--icon-boxed
        .sisf-m-text {
        padding: 12px 20px 12px 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-button.sisf-type--icon-boxed
        .sisf-m-icon {
        padding: 12px 0 12px;
    }
    .elementor-1928 .elementor-element.elementor-element-d1bc45b .sisf-m-icon {
        margin: 0px 0px 0px 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-d9a657f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-2beb4df
        > .elementor-element-populated {
        padding: 010px 010px 010px 010px;
    }
    .elementor-1928
        .elementor-element.elementor-element-fbe4381
        > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-e03ce46
        > .elementor-element-populated {
        padding: 0px 0px 0px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-2374467
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-2374467
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928 .elementor-element.elementor-element-a97b635 {
        padding: 40px 0px 50px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-fc2f9db
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-fc2f9db
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-34960ec
        .sisf-sis-button {
        font-size: 15px;
        padding: 12px 20px 12px 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-34960ec
        .sisf-sis-button.sisf-type--icon-boxed
        .sisf-m-text {
        padding: 12px 20px 12px 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-34960ec
        .sisf-sis-button.sisf-type--icon-boxed
        .sisf-m-icon {
        padding: 12px 0 12px;
    }
    .elementor-1928 .elementor-element.elementor-element-34960ec .sisf-m-icon {
        margin: 0px 0px 0px -30px;
    }
    .elementor-1928
        .elementor-element.elementor-element-53c93ac
        .sisf-sis-info-cards {
        min-height: 450px;
    }
    .elementor-1928
        .elementor-element.elementor-element-f70437a
        .sisf-sis-info-cards {
        min-height: 450px;
    }
    .elementor-1928
        .elementor-element.elementor-element-97a0460
        .sisf-sis-info-cards {
        min-height: 450px;
    }
    .elementor-1928
        .elementor-element.elementor-element-884157c
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-79402f4
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-79402f4
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-b893a35
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-fba06cf {
        padding: 40px 10px 40px 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-e09b43f {
        padding: 40px 0px 40px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-052ac8e
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-9665f6b
        > .elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-0717e8b
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-6cb5b09
        > .elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-32a8c2f
        > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-1928
        .elementor-element.elementor-element-cf759fa
        > .elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-1928 .elementor-element.elementor-element-20b3e18 {
        padding: 70px 0px 70px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin-right: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 0px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 0px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 0px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 0px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-swiper-together-nav {
        margin-top: 20px;
        left: 50px;
        right: 50px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner {
        margin-top: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner {
        margin-top: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner {
        margin-top: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner {
        margin-top: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397.sisf-navigation-together--top
        .sisf-swiper-together-nav {
        margin-bottom: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-start
        ~ .sisf-swiper-together-nav {
        left: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-end
        ~ .sisf-swiper-together-nav {
        right: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-start
        .sisf-swiper-together-nav {
        left: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-end
        .sisf-swiper-together-nav {
        right: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-start
        ~ .sisf-swiper-together-nav {
        left: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-end
        ~ .sisf-swiper-together-nav {
        right: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-start
        .sisf-swiper-together-nav {
        left: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-end
        .sisf-swiper-together-nav {
        right: 50px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-shortcode
        .sisf-e-title {
        font-size: 35px;
        line-height: 45px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-item-layout--side-image
        .sisf-e-content {
        padding: 50px 0px 0px 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-c0db495
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 35px;
    }
    .elementor-1928
        .elementor-element.elementor-element-c0db495
        .sisf-sis-section-title
        .sisf-m-subtitle {
        font-size: 15px;
        padding: 0px 0px 10px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-1928
        .elementor-element.elementor-element-906fa6d
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-section-title
        > .sisf-m-text {
        font-size: 15px;
    }
    .elementor-1928
        .elementor-element.elementor-element-d1bc45b
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928
        .elementor-element.elementor-element-2374467
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928 .elementor-element.elementor-element-ef3656b .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928 .elementor-element.elementor-element-ca5212b .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928 .elementor-element.elementor-element-9fc1ba8 .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928 .elementor-element.elementor-element-6b61179 .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928 .elementor-element.elementor-element-cec6df3 .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928 .elementor-element.elementor-element-e67d7ac .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-fc2f9db
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928 .elementor-element.elementor-element-7ccaec9 {
        font-size: 15px;
    }
    .elementor-1928 .elementor-element.elementor-element-53c93ac .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-53c93ac
        .sisf-m-content
        .sisf-m-text {
        font-size: 15px;
    }
    .elementor-1928
        .elementor-element.elementor-element-53c93ac
        .sisf-sis-info-cards
        .sisf-m-title {
        margin-bottom: 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-f70437a .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-f70437a
        .sisf-m-content
        .sisf-m-text {
        font-size: 15px;
    }
    .elementor-1928
        .elementor-element.elementor-element-f70437a
        .sisf-sis-info-cards
        .sisf-m-title {
        margin-bottom: 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-97a0460 .sisf-m-title {
        font-size: 20px;
    }
    .elementor-1928
        .elementor-element.elementor-element-97a0460
        .sisf-m-content
        .sisf-m-text {
        font-size: 15px;
    }
    .elementor-1928
        .elementor-element.elementor-element-97a0460
        .sisf-sis-info-cards
        .sisf-m-title {
        margin-bottom: 10px;
    }
    .elementor-1928 .elementor-element.elementor-element-f504cc1 {
        padding: 30px 0px 30px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-79402f4
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928 .elementor-element.elementor-element-34f89b1 {
        padding: 0px 0px 10px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-9665f6b
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-6cb5b09
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-cf759fa
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin-right: 19px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 19px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 19px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 19px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical
        ~ .sisf-swiper-together-nav
        .sisf-swiper-together-inner
        > .swiper-button-prev {
        margin: 0 0 19px 0 !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-swiper-together-nav {
        left: 0px;
        right: 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-start
        ~ .sisf-swiper-together-nav {
        left: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-end
        ~ .sisf-swiper-together-nav {
        right: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-start
        .sisf-swiper-together-nav {
        left: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-container-vertical.sisf-navigation-alignment--flex-end
        .sisf-swiper-together-nav {
        right: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-start
        ~ .sisf-swiper-together-nav {
        left: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-end
        ~ .sisf-swiper-together-nav {
        right: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-start
        .sisf-swiper-together-nav {
        left: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .swiper-vertical.sisf-navigation-alignment--flex-end
        .sisf-swiper-together-nav {
        right: 0px !important;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-shortcode
        .sisf-e-title {
        font-size: 24px;
        line-height: 30px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-e-info.sisf-info--top
        .sisf-e-info-item {
        font-size: 14px;
    }
    .elementor-1928
        .elementor-element.elementor-element-237f397
        .sisf-item-layout--side-image
        .sisf-e-content {
        padding: 30px 0px 0px 0px;
    }
    .elementor-1928
        .elementor-element.elementor-element-c0db495
        .sisf-sis-section-title
        .sisf-m-title {
        font-size: 24px;
    }
    .elementor-1928
        .elementor-element.elementor-element-f0abb46
        .sisf-shortcode
        .sisf-e-title {
        font-size: 20px;
        line-height: 30px;
    }
    .elementor-1928
        .elementor-element.elementor-element-f0abb46
        .sisf-blog-item
        .sisf-e-excerpt {
        font-size: 15px;
    }
}
@media (min-width: 768px) {
    .elementor-1928 .elementor-element.elementor-element-dddc96e {
        width: 60%;
    }
    .elementor-1928 .elementor-element.elementor-element-0ba355a {
        width: 40%;
    }
    .elementor-1928 .elementor-element.elementor-element-884157c {
        width: 40%;
    }
    .elementor-1928 .elementor-element.elementor-element-b893a35 {
        width: 60%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-1928 .elementor-element.elementor-element-dddc96e {
        width: 100%;
    }
    .elementor-1928 .elementor-element.elementor-element-0ba355a {
        width: 100%;
    }
    .elementor-1928 .elementor-element.elementor-element-2beb4df {
        width: 100%;
    }
    .elementor-1928 .elementor-element.elementor-element-e03ce46 {
        width: 100%;
    }
    .elementor-1928 .elementor-element.elementor-element-f93fc6e {
        width: 100%;
    }
    .elementor-1928 .elementor-element.elementor-element-6516f17 {
        width: 100%;
    }
}
